<div class="bg-contact2" style="background-image: url('assets/images/bg_3.jpg');">
  
  <div class="container-contact2">
      
    <div class="wrap-contact2">
      
        <span class="contact2-form-title">
          Datos de las mesas
        </span>

        
      

        <div>
          <select [(ngModel)]="inputNumbertable" [ngModelOptions]="{standalone: true}" (change)="changingValue($event)" class="form-control form-control-lg rounded-0" id="numbertable" autocomplete="numbertable" required>
            <option *ngFor="let table of userService.tables">Mesa {{table.idTable}}</option>
          </select>
        </div>



        <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                  <div class="pricingTable-header">
                    <h3 class="heading">Horas de reserva</h3>
                    
                  </div>
                  <div class="pricing-content">
                    <ul>
                      <li *ngFor="let reserva of reservas">{{reserva.hourBegin}}:00 Horas</li>

                      
                    </ul>
                  </div>
                </div>
              </div>
              
              
              
              
                <div id="selectorEstado">
                  <span style="margin-bottom: 10px; font-weight: bold; color: black;">Cambiar estado de la mesa</span>
                  <input [(ngModel)]="input_id" [ngModelOptions]="{standalone: true}" type="hidden" class="form-control form-control-lg rounded-0" id="_id" autocomplete="_id" required>
                  <input [(ngModel)]="inputId" [ngModelOptions]="{standalone: true}" type="hidden" class="form-control form-control-lg rounded-0" id="id" autocomplete="id" required>
                  <input [(ngModel)]="inputNumberChair" [ngModelOptions]="{standalone: true}" type="hidden" class="form-control form-control-lg rounded-0" id="numberchair" autocomplete="numerchair" required>
                  <input [(ngModel)]="inputDescription" [ngModelOptions]="{standalone: true}" type="hidden" class="form-control form-control-lg rounded-0" id="description" autocomplete="description" required>
                  <select [(ngModel)]="inputStatus" [ngModelOptions]="{standalone: true}" class="form-control" style="margin-left: 10px; margin-bottom: 10px;"  id="numbertable" autocomplete="numbertable" required>
                    <option value="1">Habilitada</option>
                    <option value="2">Desahabilitada</option>
                  </select>
                  <button  style="color:black;" class="btn btn-dark" (click)="changeStatus()">Cambiar estado</button>
                </div>
              
            </div>

            
                
            

          </div>



          






        <div class="container-contact2-form-btn">
          <div class="wrap-contact2-form-btn">
            <div class="contact2-form-bgbtn"></div>
            
          </div>
        </div>
      
    </div>
    <a type="button" style="text-align: right !important;" class="btn btn-secondary" (click)="cerrarSesion()">Cerrar Sesión</a>
  </div>
  
</div>


