<nav class="navbar navbar-expand-lg navbar-dark site_navbar bg-dark site-navbar-light" id="site-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">Establo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="site-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="#section-home" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="#section-about" class="nav-link">Nosotros</a></li>
        <li class="nav-item"><a href="#section-offer" class="nav-link">Ofertas</a></li>
        <li class="nav-item"><a href="#section-menu" class="nav-link">Menu</a></li>
        <li class="nav-item"><a href="#section-news" class="nav-link">Platos Nuevos</a></li>
        <li class="nav-item"><a href="#section-gallery" class="nav-link">Galería</a></li>
        <li class="nav-item"><a href="#section-contact" class="nav-link">Contáctenos</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->



<section class="site-cover" style="background-image: url(assets/images/bg_3.jpg);" id="section-home">
  <div class="content-fluid" style="background-color: rgba(0, 0, 0, 0.7);" >
    <div class="row align-items-center justify-content-center text-center site-vh-100">
      <div class="col-md-12">
        <h1 class="site-heading site-animate mb-3">Bienvenidos a el Establo</h1>
        <h2 class="h5 site-subheading site-animate">Comidas típicas ecuatorianas</h2>
        <h2 class="h5 site-subheading site-animate">Lunes a Sábados 12:00 - 23:00 Domingo 12:00 - 21:00</h2>
        <h2 class="h5 site-subheading site-animate">Reservaciones: 099-379-4329</h2>
        <p><a href="/login" target="_blank" class="btn btn-outline-white btn-lg site-animate">Reservación</a></p>
      </div>
    </div>
  </div>
</section>

<!-- END section -->

<section class="site-section" id="section-about">
  <div class="container">
    <div class="row">
      <div class="col-md-5 site-animate mb-5">
        <img class="site-sub-title center" src="assets/images/establo.png" width="40%"/>
        <h2 class="site-primary-title display-4">El lugar perfecto para disfrutar de la vida en la comida</h2>
        <p>Te damos la bienvenida a nuestro ESTABLO con los mejores platos tipicos del Ecuador</p>

        <!--<p><a href="#" class="btn btn-secondary btn-lg">Leer más</a></p>-->
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
        <img src="assets/images/about_img_1.jpg" alt="Free Template by colorlib.com" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- END section -->


<section class="site-section bg-light" id="section-offer">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">Nuestras Ofertas</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">Brindamos ofertas en ocaciones especial, ya sea por cumpleaños o acontecimientos importantes en el año.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-carousel site-owl">

          <div class="item">
            <div class="media d-block mb-4 text-center site-media site-animate border-0">
              <img src="assets/images/offer_1.jpg" alt="Free Template by colorlib.com" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$9.00</h5>
                <h5 class="mt-0 h4">Costillas de cerdo</h5>
                <p class="mb-4">Disfruta de nuestro nuevo plato costilla de cerdo en 5 diferentes salsas, elige la que más te guste BBQ, Honey Mustard, Hot BBQ, Maracuya y Teriyaki + 2 guarniciones</p>

                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Ordena</a></p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center site-media site-animate border-0">
              <img src="assets/images/offer_2.jpg" alt="Free Template by colorlib.com" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$12.00</h5>
                <h5 class="mt-0 h4">Triologia de secos</h5>
                <p class="mb-4">600gr de proteina.</p>

                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Ordena</a></p>
              </div>
            </div>
          </div>
          
          <div class="item">
            <div class="media d-block mb-4 text-center site-media site-animate border-0">
              <img src="assets/images/offer_3.jpg" alt="Free Template by colorlib.com" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$7.00</h5>
                <h5 class="mt-0 h4">Milanessa Napolitana</h5>
                <p class="mb-4">Nuestro nuevo producto Milanesaa la napolitana + 1 guarnición ensalada de la casa.</p>

                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Ordena</a></p>
              </div>
            </div>
          </div>

          
         

        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- END section -->

<section class="site-section" id="section-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">Nuestro Menú</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">Hemos ampliado nuestro menú.</p>
          </div>
        </div>
      </div>

      <div class="col-md-12 text-center">

        <ul class="nav site-tab-nav nav-pills mb-5" id="pills-tab" role="tablist">
          <li class="nav-item site-animate">
            <a class="nav-link active" id="pills-breakfast-tab" data-toggle="pill" href="#pills-breakfast" role="tab" aria-controls="pills-breakfast" aria-selected="true">Platos a la carta</a>
          </li>
          <li class="nav-item site-animate">
            <a class="nav-link" id="pills-lunch-tab" data-toggle="pill" href="#pills-lunch" role="tab" aria-controls="pills-lunch" aria-selected="false">Platos típicos</a>
          </li>
          <li class="nav-item site-animate">
            <a class="nav-link" id="pills-lunch-tab" data-toggle="pill" href="#pills-lunch" role="tab" aria-controls="pills-lunch" aria-selected="false">Gourmet</a>
          </li>
            <li class="nav-item site-animate">
            <a class="nav-link" id="pills-dinner-tab" data-toggle="pill" href="#pills-dinner" role="tab" aria-controls="pills-dinner" aria-selected="false">Bebidas</a>
          </li>
        </ul>

        <div class="tab-content text-left">
          <div class="tab-pane fade show active" id="pills-breakfast" role="tabpanel" aria-labelledby="pills-breakfast-tab">
            <div class="row">
              <div class="col-md-6 site-animate">
                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_1.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">8 Alitas</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$35.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_2.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Italian Sauce Mushroom</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$24.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_3.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Fried Potato w/ Garlic</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$14.50</h6>
                  </div>
                </div>

              </div>
              <div class="col-md-6 site-animate">
                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_2.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Italian Sauce Mushroom</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$35.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_1.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Salted Fried Chicken</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$12.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_3.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Fried Potato w/ Garlic</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$18.50</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
          <div class="tab-pane fade" id="pills-lunch" role="tabpanel" aria-labelledby="pills-lunch-tab">
            <div class="row">
              <div class="col-md-6 site-animate">

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_3.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Fried Potato w/ Garlic</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$14.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_1.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Salted Fried Chicken</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$35.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_2.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Italian Sauce Mushroom</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$24.50</h6>
                  </div>
                </div>

              </div>
              <div class="col-md-6 site-animate">

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_3.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Fried Potato w/ Garlic</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$18.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_2.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Italian Sauce Mushroom</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$35.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/menu_1.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Salted Fried Chicken</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$12.50</h6>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-dinner" role="tabpanel" aria-labelledby="pills-dinner-tab">
            <div class="row">
              <div class="col-md-6 site-animate">

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/bebidas/bebida.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Italian Sauce Mushroom</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$24.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/bebidas/cerveza.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Salted Fried Chicken</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$35.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/bebidas/bebida2.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Fried Potato w/ Garlic</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$14.50</h6>
                  </div>
                </div>

              </div>
              <div class="col-md-6 site-animate">

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/bebidas/bebida.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Fried Potato w/ Garlic</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$18.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/bebidas/cerveza.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Italian Sauce Mushroom</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$35.50</h6>
                  </div>
                </div>

                <div class="media menu-item">
                  <img class="mr-3" src="assets/images/bebidas/bebida2.jpg" class="img-fluid" alt="Free Template by colorlib.com">
                  <div class="media-body">
                    <h5 class="mt-0">Salted Fried Chicken</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <h6 class="text-primary menu-price">$12.50</h6>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="site-section bg-light" id="section-news">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">News</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="media d-block mb-4 text-center site-media site-animate">
          <img src="assets/images/offer_1.jpg" alt="Free Template by colorlib.com" class="img-fluid">
          <div class="media-body p-md-5 p-4">
            <h5 class="mt-0 h4">We Have Dilecious Food</h5>
            <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="media d-block mb-4 text-center site-media site-animate">
          <img src="assets/images/offer_2.jpg" alt="Free Template by colorlib.com" class="img-fluid">
          <div class="media-body p-md-5 p-4">
            <h5 class="mt-0 h4">Chef Special Menu</h5>
            <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="media d-block mb-4 text-center site-media site-animate">
          <img src="assets/images/offer_3.jpg" alt="Free Template by colorlib.com" class="img-fluid">
          <div class="media-body p-md-5 p-4">
            <h5 class="mt-0 h4">Merriage Celebrations</h5>
            <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="site-section" id="section-gallery">
  <div class="container">
    <div class="row site-custom-gutters">

      <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">Galería</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">Conozca más sobre <b>ESTABLO</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 site-animate">
        <a href="assets/images/galeria/foto1.jpg" class="site-thumbnail image-popup">
          <img src="assets/images/galeria/foto1.jpg" alt="Free Template by colorlib.com" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 site-animate">
        <a href="assets/images/galeria/foto2.jpg" class="site-thumbnail image-popup">
          <img src="assets/images/galeria/foto2.jpg" alt="Free Template by colorlib.com" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 site-animate">
        <a href="assets/images/galeria/foto3.jpg" class="site-thumbnail image-popup">
          <img src="assets/images/galeria/foto3.jpg" alt="Free Template by colorlib.com" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4 site-animate">
        <a href="assets/images/galeria/foto4.jpg" class="site-thumbnail image-popup">
          <img src="assets/images/galeria/foto4.jpg" alt="Free Template by colorlib.com" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 site-animate">
        <a href="assets/images/galeria/foto5.jpg" class="site-thumbnail image-popup">
          <img src="assets/images/galeria/foto5.jpg" alt="Free Template by colorlib.com" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 site-animate">
        <a href="assets/images/galeria/foto6.jpg" class="site-thumbnail image-popup">
          <img src="assets/images/galeria/foto6.jpg" alt="Free Template by colorlib.com" class="img-fluid">
        </a>
      </div>

    </div>
  </div>
</section>
<!-- END section -->

<section class="site-section bg-light" id="section-contact">
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">Nuestros cliente simplemente <br> aman nuestra comida</h2>
        <!--<div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>-->
      </div>

      <div class="col-md-7 mb-5 site-animate">
        <form action="" method="post">
          <div class="form-group">
            <label for="name" class="sr-only">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="email" class="sr-only">Correo</label>
            <input type="text" class="form-control" id="email" placeholder="Correo">
          </div>
          <div class="form-group">
            <label for="email" class="sr-only">Teléfono</label>
            <input type="text" class="form-control" id="email" placeholder="Teléfono">
          </div>
          <div class="form-group">
            <label for="message" class="sr-only">Mensaje</label>
            <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Escribe tu mensaje"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg" value="Enviar">
          </div>
        </form>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4 site-animate">
        <p><img src="assets/images/about_img_1.jpg" alt="" class="img-fluid"></p>
        <p class="text-black">
          Dirección: <br> Piazza Villa Club <br> Local: 42 <br> <br>
          Lunes a Sábados 12:00 - 23:00 <br> <br>
          Domingo 12:00 - 21:00 <br> <br>
          Reservaciones: <br> 099-379-4329 <br> <br>
          
        </p>

      </div>
      
    </div>
  </div>
</section>
<div id="map"></div>
<!-- END section -->



<footer class="site-footer site-bg-dark site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12" style="text-align:center;">
        <img class="site-sub-title mb-4" src="assets/images/establo-blanco.png" height="30%"/>
        <div class="row">
          <div class="col-md-4 site-animate">
            <h2 class="site-heading-2">About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, similique, delectus blanditiis odit expedita amet. Sed labore ipsum vel dolore, quis, culpa et magni autem sequi facere eos tenetur, ex?</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 site-animate">
            <div class="site-footer-widget mb-4">
              <h2 class="site-heading-2">The Restaurant</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">About Us</a></li>
                <li><a href="#" class="py-2 d-block">Chefs</a></li>
                <li><a href="#" class="py-2 d-block">Events</a></li>
                <li><a href="#" class="py-2 d-block">Contact</a></li>
                <li><a href="/login" class="py-2 d-block">Administración</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 site-animate">
             <div class="site-footer-widget mb-4">
              <h2 class="site-heading-2">Useful links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Foods</a></li>
                <li><a href="#" class="py-2 d-block">Drinks</a></li>
                <li><a href="#" class="py-2 d-block">Breakfast</a></li>
                <li><a href="#" class="py-2 d-block">Brunch</a></li>
                <li><a href="#" class="py-2 d-block">Dinner</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 site-animate">
             <div class="site-footer-widget mb-4">
              <h2 class="site-heading-2">Useful links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Foods</a></li>
                <li><a href="#" class="py-2 d-block">Drinks</a></li>
                <li><a href="#" class="py-2 d-block">Breakfast</a></li>
                <li><a href="#" class="py-2 d-block">Brunch</a></li>
                <li><a href="#" class="py-2 d-block">Dinner</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="row site-animate">
       <div class="col-md-12 text-center">
        <div class="site-footer-widget mb-4">
          <ul class="site-footer-social list-unstyled ">
            <li class="site-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="site-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="site-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>




<!-- Modal -->
<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="bg-image" style="background-image: url(assets/images/reservation_1.jpg);"></div>
          </div>
          <div class="col-lg-12 p-5">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <small>CLOSE </small><span aria-hidden="true">&times;</span>
            </button>
            <h1 class="mb-4">Reserve A Table</h1>  
            <form action="#" method="post">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="m_fname">First Name</label>
                  <input type="text" class="form-control" id="m_fname">
                </div>
                <div class="col-md-6 form-group">
                  <label for="m_lname">Last Name</label>
                  <input type="text" class="form-control" id="m_lname">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="m_email">Email</label>
                  <input type="email" class="form-control" id="m_email">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="m_people">How Many People</label>
                  <select name="" id="m_people" class="form-control">
                    <option value="1">1 People</option>
                    <option value="2">2 People</option>
                    <option value="3">3 People</option>
                    <option value="4+">4+ People</option>
                  </select>
                </div>
                <div class="col-md-6 form-group">
                  <label for="m_phone">Phone</label>
                  <input type="text" class="form-control" id="m_phone">
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="m_date">Date</label>
                  <input type="text" class="form-control" id="m_date">
                </div>
                <div class="col-md-6 form-group">
                  <label for="m_time">Time</label>
                  <input type="text" class="form-control" id="m_time">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="m_message">Message</label>
                  <textarea class="form-control" id="m_message" cols="30" rows="7"></textarea>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Reserve Now">
                </div>
              </div>

            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div id="site-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg>
</div>
<!--
<script src="js/popper.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>

  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  
  <script src="js/jquery.animateNumber.min.js"></script>
  
  

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>

  <script src="js/main.js"></script>
-->



