<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #vacationForm="ngForm" (ngSubmit)="addVacation(vacationForm)">
            <div class="row">
              <div class="input-field">
                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedVacation._id">
                <input type="text" name="idEmployee" #idEmployee="ngModel" [(ngModel)]="employeeService.selectedVacation.idEmployee" 
                placeholder="Enter your Employee">
                <input type="text" name="start" #start="ngModel" [(ngModel)]="employeeService.selectedVacation.start" 
                placeholder="Enter your Month">
                <input type="text" name="finish" #finish="ngModel" [(ngModel)]="employeeService.selectedVacation.finish" 
                placeholder="Enter your amount">
                <input type="text" name="days" #days="ngModel" [(ngModel)]="employeeService.selectedVacation.days" 
                placeholder="Enter your IRPF">
                <div class="card-action">
                  <div class="input-field col s12">
                    <button class="btn" (click)="resetForm(vacationForm)">Clean</button>
                    <button class="btn right">Save</button>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
        <thead>
          <th>idEmpleado</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>start</th>
          <th>finish</th>
          <th>days</th>
        </thead>
        <tbody *ngFor="let employee of employeeService.employees">
          <tr *ngFor="let vacation of employeeService.vacations">
            <td *ngIf="vacation.idEmployee == employee.idEmployee">{{vacation.idEmployee}}</td>
            <td *ngIf="vacation.idEmployee == employee.idEmployee">{{employee.name}}</td>
            <td *ngIf="vacation.idEmployee == employee.idEmployee">{{employee.lastName}}</td>
            <td *ngIf="vacation.idEmployee == employee.idEmployee">{{vacation.start}}</td>
            <td *ngIf="vacation.idEmployee == employee.idEmployee">{{vacation.finish}}</td>
            <td *ngIf="vacation.idEmployee == employee.idEmployee">{{vacation.days}}</td>
            <td *ngIf="vacation.idEmployee == employee.idEmployee">
              <a (click)="editVacation(vacation)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteVacation(vacation._id)">
                  <i class="material-icons">delete</i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>