<div class="text-center center-login">
	<div class="container">
        <form class="form-register">
            <h1 class="h3 mb-3 font-weight-normal">Crear cuenta</h1>
                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input name="" class="form-control" placeholder="Nombre Completo" type="text">
                </div>
                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                     </div>
                    <input name="" class="form-control" placeholder="Correo electrónico" type="email">
                </div>
                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>
                    <input class="form-control" placeholder="Contraseña" type="password">
                </div>
                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>
                    <input class="form-control" placeholder="Repetir contraseña" type="password">
                </div>
                <!-- form-group// -->                                      
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Crear cuenta  </button>
                </div>
                <!-- form-group// -->      
                <p class="text-center">Ya tienes una cuenta? <a href="login">Inicia sesión</a> </p>                                                                 
        </form>
	</div>
</div>