<nav class="nav-wrapper blue">
  <div class="container">
    <div class="row">
      <div class="col s3">
          <a href="/" class="brand-logo">Administración</a>
      </div>
      <div class="col s2">
          <a href="/users" class="">Usuario</a>
      </div>
      <div class="col s2">
          <a href="/reservation" class="">Reservación</a>
      </div>
      <div class="col s2">
          <a href="/table" class="">Mesa</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #tableForm="ngForm" (ngSubmit)="addTable(tableForm)">
            <div class="row">
              <div class="input-field">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedTable._id">
                <input type="text" name="idTable" #idTable="ngModel" [(ngModel)]="userService.selectedTable.idTable" 
                value="{{numberA}}">
                <select  (change)="ChangingValue($event)" [value]='4' class='form-control' name="numberChair" #numberChair="ngModel" [(ngModel)]="userService.selectedTable.numberChair">
                  <option value='4'>4</option>
                  <option value='6'>6</option>
                </select>
                <input type="text" name="description" #description="ngModel" [(ngModel)]="userService.selectedTable.description" 
                placeholder="Enter your Description">
                <input type="text" name="state" #state="ngModel" [(ngModel)]="userService.selectedTable.state" 
                placeholder="Enter your State">
                <div class="card-action">
                  <div class="input-field col s12">
                    <button class="btn" (click)="resetForm(tableForm)">Clean</button>
                    <button class="btn right">Save</button>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
        <thead>
          <th>idTable</th>
          <th>Number Chair</th>
          <th>Description</th>
          <th>State</th>
        </thead>
        <tbody>
          <tr *ngFor="let table of userService.tables">
            <td>{{table.idTable}}</td>
            <td>{{table.numberChair}}</td>
            <td>{{table.description}}</td>
            <td>{{table.state}}</td>
            <td>
              <a (click)="editTable(table)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteTable(table._id)">
                  <i class="material-icons">delete</i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>