<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #tableForm="ngForm" (ngSubmit)="addTable(tableForm)">
            <div class="row">
              <div class="input-field">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedTable._id">
                <input type="text" name="idTable" #idTable="ngModel" [(ngModel)]="userService.selectedTable.idTable" 
                placeholder="Enter your Table">
                <input type="text" name="description" #description="ngModel" [(ngModel)]="userService.selectedTable.description" 
                placeholder="Enter your Description">
                <input type="text" name="state" #state="ngModel" [(ngModel)]="userService.selectedTable.state" 
                placeholder="Enter your State">
                <div class="card-action">
                  <div class="input-field col s12">
                    <button class="btn" (click)="resetForm(tableForm)">Clean</button>
                    <button class="btn right">Save</button>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
        <thead>
          <th>idTable</th>
          <th>Description</th>
          <th>State</th>
        </thead>
        <tbody>
          <tr *ngFor="let table of userService.table">
            <td>{{table.idTable}}</td>
            <td>{{table.description}}</td>
            <td>{{table.state}}</td>
            <td>
              <a (click)="editTable(table)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteTable(table._id)">
                  <i class="material-icons">delete</i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>