<nav class="nav-wrapper blue">
  <div class="container">
    <div class="row">
        <div class="col s3">
            <p class="brand-logo">Administración</p>
        </div>
      <div class="col s2">
          <a href="/users" class="">Usuario</a>
      </div>
      <div class="col s2">
          <a href="/reservation" class="">Reservación</a>
      </div>
      <div class="col s4">
          <a href="/table" class="">Mesa</a>
      </div>
      <div>
          <a type="button" style="text-align: right !important;" class="btn btn-secondary" (click)="cerrarSesion()">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form>
            <div class="row">
              <div style="flex: 1 1 auto !important;" class="input-field">
                <input [(ngModel)]="input_id" [ngModelOptions]="{standalone: true}" type="hidden" class="form-control form-control-lg rounded-0" id="_id" autocomplete="_id" required>
                  <input [(ngModel)]="inputId" [ngModelOptions]="{standalone: true}" type="hidden" class="form-control form-control-lg rounded-0" id="id" autocomplete="id" required>
                  <select style="margin-bottom: 10px; border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="inputNumberchair" [ngModelOptions]="{standalone: true}" (change)="ChangingValue($event)" class="form-control form-control-lg rounded-0" id="numberChair" autocomplete="numberChair" required>
                    <option value='4'>4</option>
                    <option value='6'>6</option>
                  </select>
                  <input style="margin-bottom: 10px; border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="inputDescription" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-lg rounded-0" id="description" autocomplete="description" required>
                  <select style="border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="inputStatus" [ngModelOptions]="{standalone: true}" (change)="ChangingValue($event)" class="form-control form-control-lg rounded-0" id="status" autocomplete="status" required>
                    <option value='1'>Habilitada</option>
                    <option value='2'>Deshabilitada</option>
                  </select>
                  <div class="card-action">
                  <div class="input-field col s12">
                    <button style="border-radius: .3rem !important; border: 1px solid transparent;" class="btn-primary btn-lg" (click)="resetForm(tableForm)">Clean</button>
                    <button style="border-radius: .3rem !important; border: 1px solid transparent;" class="btn-primary btn-lg right" (click)="ingresarMesa()">Save</button>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
        <thead>
          <th>idTable</th>
          <th>Number Chair</th>
          <th>Description</th>
          <th>State</th>
        </thead>
        <tbody>
          <tr *ngFor="let table of userService.tables">
            <td>{{table.idTable}}</td>
            <td>{{table.numberChair}}</td>
            <td>{{table.description}}</td>
            <td>{{table.state}}</td>
            <td>
              <a (click)="editTable(table)">
                <i class="material-icons">edit</i>
              </a>
              <!--
              <a (click)="deleteTable(table._id)">
                  <i class="material-icons">delete</i>
                </a>
              -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>