<nav class="nav-wrapper blue">
  <div class="container">
    <div class="row">
      <div class="col s3">
          <p class="brand-logo">Administración</p>
      </div>
      <div class="col s2">
          <a href="/users" class="">Usuario</a>
      </div>
      <div class="col s2">
          <a href="/reservation" class="">Reservación</a>
      </div>
      <div class="col s4">
          <a href="/table" class="">Mesa</a>
      </div>
      <div>
          <a type="button" style="text-align: right !important;" class="btn btn-secondary" (click)="cerrarSesion()">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col s5">
        <div class="card">
          <div class="card-content">
            <form>
              <div class="row">
                <div style="flex: 1 1 auto !important;" class="input-field">
                    <input [(ngModel)]="input_id" [ngModelOptions]="{standalone: true}" type="hidden" class="form-control form-control-lg rounded-0" id="_id" autocomplete="_id" required>
                    <input [(ngModel)]="inputId" [ngModelOptions]="{standalone: true}" type="hidden" class="form-control form-control-lg rounded-0" id="id" autocomplete="id" required>
                    <select style="border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="inputIduser" [ngModelOptions]="{standalone: true}" class="form-control form-control-lg rounded-0" id="idUser" autocomplete="idUser" required>
                        <option *ngFor="let user of users" value="{{user.idUser}}">{{user.name}}</option>
                    </select>
                  <select style=" margin-top: 10px; border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="inputNumbertable" [ngModelOptions]="{standalone: true}" (change)="changingValue($event)" class="form-control form-control-lg rounded-0" id="numbertable" autocomplete="numbertable" required>
                      <option *ngFor="let table of tables" value="{{table.idTable}}">{{table.idTable}} -  {{table.numberChair}} sillas - {{table.description}}</option>
                  </select>

                  <select style=" margin-top: 10px; border: 1px solid #ced4da; border-radius: .25rem !important;" *ngIf="open == true" [(ngModel)]="inputHourbegin" [ngModelOptions]="{standalone: true}" class="form-control form-control-lg rounded-0" id="hourbegin" autocomplete="hourbegin" required>
                      <option style="border: 1px solid #ced4da; border-radius: .25rem !important;" *ngFor="let disp of disponible" value="{{disp}}">{{disp}}:00 Horas</option>
                  </select>
                  <div class="card-action">
                    <div class="input-field col s12">
                      
                      <button style="border-radius: .3rem !important; border: 1px solid transparent;" class="btn-primary btn-lg right"(click)="ingresarReservacion()">Save</button>
                    </div>
  
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s7">
        <table>
          <thead>
            <th>idReservation</th>
            <th>idUser</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Number Table</th>
            <th>Hour Begin</th>
          </thead>
          <tbody *ngFor="let user of userService.users">
            <tr *ngFor="let reservation of userService.reservations">
              <td *ngIf="reservation.idUser == user.idUser">{{reservation.idReservation}}</td>
              <td *ngIf="reservation.idUser == user.idUser">{{reservation.idUser}}</td>
              <td *ngIf="reservation.idUser == user.idUser">{{user.name}}</td>
              <td *ngIf="reservation.idUser == user.idUser">{{user.lastName}}</td>
              <td *ngIf="reservation.idUser == user.idUser">{{user.email}}</td>
              <td *ngIf="reservation.idUser == user.idUser">{{reservation.numberTable}}</td>
              <td *ngIf="reservation.idUser == user.idUser">{{reservation.hourBegin}}</td>
              <td *ngIf="reservation.idUser == user.idUser">
                <a (click)="editReservation(reservation)">
                  <i class="material-icons">edit</i>
                </a>
                <a (click)="deleteReservation(reservation._id)">
                    <i class="material-icons">delete</i>
                  </a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>