<nav class="nav-wrapper blue">
  <div class="container">
    <div class="row">
      <div class="col s3">
          <a href="/" class="brand-logo">Administración</a>
      </div>
      <div class="col s2">
          <a href="/users" class="">Usuario</a>
      </div>
      <div class="col s2">
          <a href="/reservation" class="">Reservación</a>
      </div>
      <div class="col s2">
          <a href="/table" class="">Mesa</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form>
            <div class="row">
              <div style="flex: 1 1 auto !important;" class="input-field">
                  <input style="border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="input_id" [ngModelOptions]="{standalone: true}" type="hidden" class="form-control form-control-lg rounded-0" id="_id" autocomplete="_id" required>
                  <input style="border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="inputId" [ngModelOptions]="{standalone: true}" type="hidden" class="form-control form-control-lg rounded-0" id="id" autocomplete="id" required>
                  <input style="border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="inputName" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-lg rounded-0" id="name" autocomplete="name" required>
                  <input style="border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="inputApellido" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-lg rounded-0" id="apellido" autocomplete="apellido" required>
                  <input style="border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="inputEmail" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-lg rounded-0" id="email" autocomplete="email" required>
                  <input style="border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="inputPassword" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-lg rounded-0" id="password" autocomplete="password" required>
                  <select style="border: 1px solid #ced4da; border-radius: .25rem !important;" [(ngModel)]="inputType" [ngModelOptions]="{standalone: true}" (change)="ChangingValue($event)" class="form-control form-control-lg rounded-0" id="type" autocomplete="type" required>
                    <option value='1'>Administrador General</option>
                    <option value='2'>Administrador Local</option>
                    <option value='3'>Usuario</option>
                  </select>
                <div class="card-action">
                  <div class="input-field col s12">
                    <button style="border-radius: .3rem !important; border: 1px solid transparent;" class="btn-primary btn-lg" (click)="resetForm(userForm)">Clean</button>
                    <button style="border-radius: .3rem !important; border: 1px solid transparent;" class="btn-primary right btn-lg" (click)="registrar()">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
        <thead>
          <th>id Usuario</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Type</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of userService.users">
            <td>{{user.idUser}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.type}}</td>
            <td>
              <a (click)="editUser(user)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteUser(user._id)">
                  <i class="material-icons">delete</i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>